.newtodo p {
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px;
  text-align: center;
}

.newtodo {
  margin-bottom: 78px;
  padding-top: 27px;
}
.input-text {
  display: flex;
  gap: 8px;
  padding: 0 50px;
  margin-top: 36px;
}
.input-text input {
  width: 297px;
  height: 40px;
  color: #8fa8c1;
  background: #152431;
  border: 1px solid rgba(143, 168, 193, 0.5);
  border-radius: 4px;
  padding: 12px;
  font-size: 14px;
  line-height: 16px;
  font-family: Roboto;
  font-weight: 400;
}

.input-text button {
  width: 95px;
  height: 40px;
  line-height: 16px;
  background: #0c5488;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  color: #8fa8c1;
  border: none;
}
